html, body, #root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root {
  display: grid;
}

.related {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.relatedContainer {
  border: solid;
  padding: 10px;
}

.relatedCard {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}


.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.flexItem {
  flex-basis: auto;
}