html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
}

.darkBtn {
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
}

.darkMode {
  background-color: #001f3f;
  color: white;
}

.darkModeText {
  color: whitesmoke;
}

.darkModeBackground {
  background-color: rgb(149, 161, 168);
}

.related {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.relatedContainer {
  border: solid;
  padding: 10px;
}

.relatedCard {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4-style {
  display: grid;
  grid-template-columns: repeat(4, 10px);
  grid-template-rows: 5px 5px;
  grid-gap: 35px;
}

.selectors {
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.spaceRight {
  margin-right: 2em;
}

.styleThumbnail {
  border-radius: 50%;
  border-style: double;
}

.imageGallery {
  height: 60vh;
  width: 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: double;
  padding: 10px 100px 10px 10px;
}

.galleryThumbnail {
  border-style: double;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.flexItem {
  flex-basis: auto;
}

.checkBoxOverlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: transparent;
}
