html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ReviewBox {
  display: grid;
  margin: 20px;
  border: solid;
  padding: 10px;
}

.ReviewBox button {
  width: 30%;
  height: 40px
}

.related {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.relatedContainer {
  border: solid;
  padding: 10px;
}

.relatedCard {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
