.related {
  font-family: 'adobe-clean', sans-serif;
  color: rgb(86, 86, 86);
  /* box-sizing: border-box; */
  margin-left: 10%;
  padding: 0;
  overflow-y: hidden;
}

.related-body {
  margin-left: 10%;
}

.related-container {
  font-family: 'adobe-clean', sans-serif;
  color: rgb(86, 86, 86);
  position: relative;
  max-width: 80%;
  margin-left: 8%;
  margin-bottom: 0;
  overflow-x: hidden;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 240px, rgba(255, 255, 255, 1) 290px);
   background-color: #fff;
   /* box-shadow:  0px 100px 50px -50px #ffffff inset,
        -10px 0px 10px -5px rgba(0,0,0,0.5) inset; */
}

.related-list {
  /* display: inline-block; */
  position: relative;
  margin-bottom: 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
}

.related-list::-webkit-scrollbar {
  display: none;
}

.related-title {
  font-weight: lighter;
  font-size: small;
  margin-top: 5%;
}

.related-card {
  position: relative;
  display: inline-block;
  width: 193px;
  height: 291px;
  padding: 0;
  margin: 0 9px;
  border: 1px solid black;
}

.related-img {
  height: 194px;
  width: 100%;
}

.card-text {
  padding: 4px;
  overflow-wrap: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}

.card-category {
  line-height: 50%;
  font-size: xx-small;
  font-weight: lighter;
}

.card-productInfo {
  line-height: 20%;
  font-weight: bolder;
  font-size: small;
}

.card-price {
  font-size: xx-small;
  font-weight: lighter;
  margin-bottom: 0.5em;
  font-size-adjust: 0.5;
}

/* .card-stars {

} */

.card-star {
  transform:scale(0.9);
  margin: 0;
  padding: 0;
}

.related-scroll {
  position: absolute;
	top: 50%;
	width: 3em;
  color: black;
}

.left-scroll {
	left: 0;
}
.right-scroll {
	right: 0;
}
.hidden {
	display: none;
}

.action-btn {
  position: absolute;
	top: 5px;
  right: 5px;
  color: black;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}