.searchBox {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
}

.searchSubmitBtn {
  width: 15%;
  padding: 10px;
  background: royalblue;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.searchSubmitBtn:hover {
  background: royalblue;
}

.searchSubmitBtn::after {
  content: "";
  clear: both;
  display: table;
}