/* Module Container */

.container {
  margin: 10%;
  display: grid;
  grid-template-columns: 30% 70%;
  /* height: 27%; */
  height: 80%;
}

.container a:hover{
  color: blue;
  cursor: pointer;
}

.container-right {
  display: grid;
  grid-template-rows: 5% 90% 5%;
  max-height: 90%;
}

/* .container-left {

} */

/* Individual Review Tile */

.ReviewTile {
  height: 49%;
  display: grid;
  border-bottom: 1px solid;
}

.ReviewTile .response {
  padding: 5px;
  background-color: #D3D3D3;
}

/* Tile Star Rating */

.filledStar {
  color: #000;
}

.emptyStar {
  color: #ccc;
}

/* Review Body expanion with Show More */

.expandedBody {
  font-size: 14px;
  margin: 10px 0 4px 0;
}

.collapsedBody {
  font-size: 14px;
  margin: 10px 0 2px 0;
  position: relative;
}

.collapsedBody:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 90%);
  width: 100%;
  height: 3em;
}

/* Image modal */

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 60%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,

.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Write Review Module */
.newReview {
  display: grid;
  row-gap: 1%;
  height: 55em;
}

.newReview .starVote {
  height: 3em;
}

.newReview .imageUpload {
  height: 7em;
}

.newReview .title {
  font-size: 24px;
  font-weight: bolder;
}

.newReview .subtitle {
  font-size: 20px;
  font-weight: bolder;
}

.newReview label {
  font-style: oblique;
}

#btnBorder {
  display: grid;
  justify-content: center;
}

#submitBtn {
  border: solid;
  padding: 5px;
  cursor: pointer;
}

.error {
  color:red;
}

.error h5,.error div {
  margin: 2px;
}

.error ul {
  display: inline-block;
  text-align: left;
}

.writing-modal {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 84%;
  overflow: auto;
}

.warning {
  font-size: 12px;
  font-weight: lighter;
}


/* sort dropdown */
.sort-dropdown span{
  margin-right: 0.1em;
}

.sort-dropdown select{
  border: none;
  text-decoration: underline;
  cursor: pointer;
}


/* Rating Breakdown */
.ratingBreakdown {
  display: inline-flex;
  align-items: center;
}

.stars-outer {
  position: relative;
  display: inline-block;

}

.ratingHeader {
  font-size: 50px;
  margin-right: 20px;
  font-weight: bold;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.bar-outer {
  height: 0.5em;
  width: 13em;
  background-color: grey;
}

.bar-inner {
  height: 0.5em;
  width: 13em;
  background-color: #8FBC8F;
}

.barBreakdown {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 1px;
}

.barBreakdown:hover {
  background-color: black;
  color: white;
}

.ratingType {
  margin-right: 0.5em;
  text-decoration: underline;
  font-size: 18px;
}

.ratingCount {
  margin-left: 0.5em;
}

.numRecommend {
  margin: 1em 0 1em 0;
  font-size: 12px;
}

.filterInfo {
  height: 0.5em;
  font-size: 0.8em;
  margin: 0.2em;
  display: inline-flex;
}

.removeFilters {
  margin-left: 1em;
  text-decoration: underline;
}