/* Module Container */

.container {
  margin: 3% 10% 3% 10%;
  display: flex;
  flex-direction: row;
  height: 20%;
}

.container a:hover {
  color: blue;
  cursor: pointer;
}

.container-left {
  max-width: 30em;
  display: flex;
  flex-direction: column;
}

.container-right {
  width: 70em;
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  border-radius: 6px;
  box-shadow: 0 4px 28px rgba(123, 151, 158, 0.25);
  border: 1px solid #d6dee1;
  padding: 1rem;
}

.scrollStyle {
  height: 48em;
  overflow-y: scroll;
}

.scrollStyle::-webkit-scrollbar {
  width: 20px;
}

.scrollStyle::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollStyle::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scrollStyle::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Individual Review Tile */

.ReviewTile {
  /* height: 49%; */
  height: 17em;
  display: grid;
  border-bottom: 1px solid;
}

.ReviewTile .response {
  padding: 5px;
  background-color: #d3d3d3;
}

/* Tile Star Rating */

.filledStar {
  color: #000;
}

.emptyStar {
  color: #ccc;
}

/* Review Body expanion with Show More */

.expandedBody {
  font-size: 14px;
  margin: 10px 0 4px 0;
}

.collapsedBody {
  font-size: 14px;
  margin: 10px 0 2px 0;
  position: relative;
}

.collapsedBody:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 90%
  );
  width: 100%;
  height: 3em;
}

/* Image modal */

.modal {
  color: black;
  cursor: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 60%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Write Review Module */
.newReview {
  display: grid;
  row-gap: 1%;
  height: 55em;
}

.newReview .starVote {
  height: 3em;
}

.newReview .imageUpload {
  height: 7em;
}

.newReview .title {
  font-size: 24px;
  font-weight: bolder;
}

.newReview .subtitle {
  font-size: 20px;
  font-weight: bolder;
}

.newReview label {
  font-style: oblique;
}

#btnBorder {
  display: grid;
  justify-content: center;
}

#submitBtn {
  border: solid;
  padding: 5px;
  cursor: pointer;
}

.error {
  color: red;
}

.error h5,
.error div {
  margin: 2px;
}

.error ul {
  display: inline-block;
  text-align: left;
}

.writing-modal {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-radius: 6px;
}

.warning {
  font-size: 12px;
  font-weight: lighter;
}

/* sort dropdown */
.sort-dropdown span {
  margin-right: 0.1em;
}

.sort-dropdown select {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

/* Rating Breakdown */
.Rating-Title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 13px;
}

.Rating-Title:before {
  background-color: #c50000;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}

.ratingBreakdown {
  display: inline-flex;
  align-items: center;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.ratingHeader {
  font-size: 50px;
  margin-right: 20px;
  font-weight: bold;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.bar-outer {
  height: 0.5em;
  width: 13em;
  background-color: #333333;
  border: 1px solid;
  box-shadow: 1.5px 2.5px rgba(123, 151, 158, 0.5);
}

.bar-inner {
  height: 0.5em;
  width: 13em;
  background-color: #8fbc8f;
}

.barBreakdown {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 1px;
}

.barBreakdown:hover {
  background-color: black;
  color: white;
}

.ratingType {
  margin-right: 0.5em;
  text-decoration: underline;
  font-size: 18px;
}

.ratingCount {
  margin-left: 0.5em;
}

.numRecommend {
  margin: 1em 0 1em 0;
  font-size: 12px;
}

.filterInfo {
  height: 0.5em;
  font-size: 0.8em;
  margin: 0.2em;
  display: inline-flex;
}

.removeFilters {
  margin-left: 1em;
  text-decoration: underline;
}

/* Product Breakdown */
.productBars {
  display: inline-flex;
  position: relative;
}

.iconBar {
  height: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.charBar {
  height: 0.5em;
  width: 5.5em;
  background-color: #cccccc;
  margin-right: 0.4em;
  border: 1px solid;
  box-shadow: 1.5px 2.5px rgba(123, 151, 158, 0.5);
}

.charDescription {
  margin-top: 2%;
  margin-bottom: 5%;
  height: 0.5em;
  width: 5.5em;
  margin-right: 0.4em;
  display: flex;
  justify-content: center;
}

/* buttons */
.buttons {
  margin-top: 1em;
}

.RatingBtn {
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
}
/* .RatingBtn:hover {
  color: white;
  background-color: #7fdbff;
} */
@media all and (max-width: 30em) {
  a.RatingBtn {
    display: block;
    margin: 0.4em auto;
  }
}
